body {
    background-color: rgb(18, 18, 18);
    background: #2c2c2c url(./outros/a1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#navbar-custom {
    background-color: #3C3C3C;
    --bs-navbar-brand-hover-color: white;
    --bs-navbar-hover-color: white;
}